@import "tailwindcss";
@import "flowbite/src/themes/default";
@import "../../vendor/livewire/flux/dist/flux.css";

@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@source "../node_modules/flowbite-datepicker";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

.bg-gray-900\/50 {
    background-color: rgba(21, 22, 23, 0.8) !important;
}

.dark\:bg-gray-900\/80 {
    background-color: rgba(28, 29, 30, 0.5) !important;
}
